
<div id="loadingdiv" class="loadingAjax" style="display:none;">
    <div style="background-color:white; top:50%; left:40%; position:fixed; opacity: 1;">
        <img src="~/Contents/img/ajax-loader.gif" title="Please Wait .." />
        <span style="font-size:15px;"> Please Wait ..</span>
    </div>
</div>

