@using pmcs.Model.Contracts
@using System.Web.Optimization
@model IEnumerable<Project>
@{
    ViewBag.Title = "PMCS v1.2 - Projects Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CustomStyles {
    @Styles.Render("~/bundles/TreeTableCss")
}


<div class="row">
    <ol class="breadcrumb">
        <li><a href="#"><em class="fa fa-home"></em></a></li>
        <li>Projects Management</li>
        <li class="active">Projects Status</li>
    </ol>
</div>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Projects Status</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default ">
            <div class="panel-heading">
                Projects Status Table
                <span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span>
            </div>
            <div class="panel-body timeline-container">
                <ul class="timeline timeline-horizontal">
                    <li class="timeline-item">
                        <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title"><a href="@Url.Action("ManageProjects","Projects")">Step 1 : Create Project</a></h4>
                            </div>
                            <div class="timeline-body">
                            </div>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title"><a href="@Url.Action("ProjectScheduler","Projects")">Step 2 : Schedule Tasks</a></h4>
                            </div>
                            <div class="timeline-body">
                            </div>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-badge success"><i class="glyphicon glyphicon-check"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Step 3 : Tasks Status</h4>
                            </div>
                            <div class="timeline-body">
                            </div>
                        </div>
                    </li>
                </ul>

                <div id="DivTreeTableContrainer"></div>
            </div>
        </div>
    </div>
</div>

@section customScripts {
    @Scripts.Render("~/bundles/TreeTable")
    <script type="text/javascript" src="/Scripts/App/ProjectManagement/ProjectsStatusTreeTable.jsx"></script>

}