@using pmcs.Model;
@model IEnumerable<InvoiceWorkflowStage>

<ul class="timeline">
    @foreach (var level in Model)
    {
        <li>
            <div class="timeline-badge primary"><i class="fa fa-level-up"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">@level.StageName</h4>
                </div>
                <div class="timeline-body">

                    <div class="col-md-5">
                        Level Number: &nbsp;
                        @level.StageOrderNumber
                        <br />
                        Allowed Actions: &nbsp;
                        @level.AllowedActions
                    </div>
                    <div class="col-md-3">
                        <button id="BtnAddInvoiceWorkflowStage_@level.StageId" style="display:none;" class="btn btn-info btn-xs" title="Add workflow level">
                            <i class="fa fa-plus-square"></i>
                        </button>
                        <button id="BtnEditInvoiceWorkflowStage_@level.StageId" style="display:none;" class="btn btn-primary btn-xs" title="Edit workflow level">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </button>
                        <button id="BtnDeleteInvoiceWorkflowStage_@level.StageId" style="display:none;" class="btn btn-danger btn-xs" title="Delete workflow level">
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                    </div>
                    <br />
                </div>
            </div>
        </li>
    }
    @*<li>
            <div class="timeline-badge"><i class="glyphicon glyphicon-pushpin"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Lorem ipsum dolor sit amet</h4>
                </div>
                <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at sodales nisl. Donec malesuada orci ornare risus finibus feugiat.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge"><i class="glyphicon glyphicon-paperclip"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Lorem ipsum dolor sit amet</h4>
                </div>
                <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </li>*@
</ul>